sudo: false

language: java

env:
  - LANG=en_US.UTF-8
  - LANG=de_DE.UTF-8

jdk:
  - openjdk7
  - oraclejdk8
  - oraclejdk7

os:
  - linux

addons:
#  apt:
#    packages:
#    - ffmpeg # Sadly this is libav's ffmpeg, which is not compatible

before_install:
  - ./travis-install-ffmpeg.sh
  - export FFMPEG=$PWD/ffmpeg-release-64bit-static/ffmpeg
  - export FFPROBE=$PWD/ffmpeg-release-64bit-static/ffprobe

install:
  - mvn install -DskipTests=true -Dmaven.javadoc.skip=true -Dgpg.skip=true -B -V

script:
  - mvn test -Dgpg.skip=true -B

after_success:
  - mvn clean cobertura:cobertura coveralls:report

cache:
  apt: true
  directories:
    - $HOME/.m2
    - $HOME/.dist
